
header{padding: 0;magin:0;width: 200px;margin-left: 10px;}
p{margin: 0}
.center{text-align: center;margin: 0 auto;}
.g_name{padding-top: 10px;}
.g_describe{margin: 0 0 12px;}
section h1{text-align: center;}
section h3{text-align: left;}
/*.g_lv1{margin: 5px;}*/
.g_lv1 code{font-size: 24px;}
.g_footer{margin-bottom: 30px;}
@media print, screen and (max-width: 960px) {
  body{padding: 10px 0px 0 0;}

  div.wrapper {
    width:auto;
    margin:0;
  }
  head{
    width: 100%;
        margin: 30px 10px 0 0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

	footer {
		border-top: 1px solid #ccc;
		margin:0 84px 0 50px;
		padding:0;
	}

  header {
    padding-right:320px;
  }

  section {
    padding:20px 84px 20px 50px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:130px;
    top:84px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
       padding: 10px 0px 0 0;

  }

  header {
    padding:10px 20px 0;
		margin-right: 0;
    width: 100%;
        margin: 0;
  }

	section {
    padding:10px 0 10px 20px;
    margin:0 0 30px;
  }

	footer {
		margin: 0 0 0 30px;
	}

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body{    padding: 10px 0px 0 0;}

  header {
    padding:10px 20px 0;
    margin: 0;
    margin-right: 0;
    width: 100%;
  }

  header ul li.download {
    display:none;
  }

	footer {
		margin: 0 0 0 20px;
	}

	footer a{
		display:block;
	}

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
